body {
    background-image: url('bg.jpg');    
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 12;
  }

.card-header {
    text-align: center;
    font-size: 20px;            
    font-family: "Times New Roman", serif;
    color: #ffff;
}


